@import '../node_modules/@glidejs/glide/dist/css/glide.core.min.css';
@import '../node_modules/@glidejs/glide/dist/css/glide.theme.min.css';
@import "../node_modules/lightbox2/dist/css/lightbox.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import 'vendors/bootstrap';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/recipecard';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/login',
  'pages/recipe';

// 7. Themes
@import
  'themes/default';


.recipe-slide-card {
    border-radius: 3px;
    margin: 10px;
    background-color: #FFF;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 12px;
    text-align: center;
    border: solid 1px #eaeaea;
h3 {
    font-size: 1.1rem;
    padding-top: 10px;
    }
.recipe-slide-card-img {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    }
    
}